<!DOCTYPE html>
<html>
<head>
<style>

  html {
	min-height:100%;
	position:relative;
  }

  body {
	background-color: white;
	text-align: center;
	height: 100%;
  }

  h1 {
	font-family: "Impact";
	color: black;
	font-size:3em;
}
</style>

<h1>Life's a </br> moving </br> TARGET </h1>

	</head>
<body>
<div class="bounce"><h1>&#11015;</h1></div>
<a href="instructions.html">
<img src="http://carlsonschool.umn.edu/sites/carlsonschool.umn.edu/files/styles/panopoly_image_original/public/Target_logo.png?itok=eLVBG-ZW" alt="TargetLogo" style="width:250px;height:250px;"></a>

<script type="text/javascript" src="../static/scripts2.js"></script>

</body>
</html>
