<!DOCTYPE html>
<html>
<head>
<style>
	html { 
		min-height:100%;
		position:relative;
	}
	body  {
		background-color: #CC0000 ;
		text-align: center;
		height:100%;
		margin: 0;
		padding: 0;
		border: 0;
		overflow: hidden;
		height: 100%; 
		max-height: 100%; 
	}
	p {
		font-family: "Helvetica";
		color: white;
		font-size: 3em;
	}
		
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/styles.css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
</br>
<img src="../static/img/likedislike.png" alt="Gottalikeit" style="width:400px;height:110px;">
</head>
<body>
<div id="framecontent"></div>
<div id="framecontent2"></div>
  <div id="container">
    <div class="buddy top" style="display: block;"><div class="avatar"  style="display: block; background-image: url(http://scene7.targetimg1.com/is/image/Target/17340878?wid=480&hei=480)"></div></div>
    <div class="buddy"><div class="avatar" style="display: block; background-image: url(http://scene7.targetimg1.com/is/image/Target/16251827?wid=480&hei=480)"></div></div>  
    <div class="buddy"><div class="avatar" style="display: block; background-image: url(http://scene7.targetimg1.com/is/image/Target/15125644?wid=480&hei=480)"></div></div>  
    <div class="buddy"><div class="avatar" style="display: block; background-image: url(http://scene7.targetimg1.com/is/image/Target/21400629?wid=480&hei=480)"></div></div>  
  </div>
</div>

<div class="container container-75">
	<div id="myProgress">
    		<div id="myBar"></div>
	</div>
</div>

</div>
</br></br>
<script type="text/javascript" src="../static/scripts.js"></script>
</body>

</html>

